.mt-1 {
  margin-top: 1vh;
}

.ml-1 {
  margin-left: 1vh;
}

.to-do-item {
  border: 1px solid #ccc;
  border-radius: 10px;
  max-width: 85%;
  min-width: 30%;
  padding: 0.2rem;
  word-break: break-all;
  cursor: pointer;
}

.p-1 {
  padding: 2px;
}

.delete-btn {
    max-width: 10%;
    max-height: 10%;
    min-height: 10%;
    min-width: 10%;
}
